@import 'tailwindcss';

@source "../../packages/ui/src";

@import '../../portfolio/styles/theme.css';
@import '../../portfolio/styles/color.css';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }
}

@utility antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply antialiased;
}
