@tailwind base;
@tailwind components;
@tailwind utilities;


.counter-nav{
  counter-reset: item;
}

.counter-nav li{
  display: inline-block;
  counter-increment: item;
}

.counter-nav li a::before{
  content: "#0" counter(item) ". ";
  @apply text-primary;
}

.counter-section{
  counter-reset: item;
}

.counter-section .count-section{
  counter-increment: item;
}

.counter-section .count-section::before{
  content: "#0" counter(item) ". ";
  @apply text-primary;
}

.toollist::before{
  content : "#";
  @apply text-primary;
}