// spacing
$main-container-width: 1200px;
$smaller-main-container-width: 986px;

$initial-responsive-breakpoint: calc(1200px + 32px);
$xl-tablet-breakpoint: 1024px;
$tablet-breakpoint: 912px;
$s-tablet-breakpoint: 780px;
$xs-tablet-breakpoint: 750px;
$mobile-breakpoint: 630px;
$s-mobile-breakpoint: 380px;
$xs-mobile-breakpoint: 350px;