// Colorr
$primary: #3AAFA9;
$secondary: #DEF2F1;

$text-secondary: #17252A;





// fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
$font: 'Open Sans', sans-serif;
